@import './../../colors.scss';

.form-wrapper {
  text-align: center;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  font-size: 2rem;

  .hash {
    background-color: $grey;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    padding: 0.8rem;
  }

  &:focus-within {
    .hash {
      background-color: $orange;
    }
  }

  .input-search {
    border: 0.1rem solid $grey;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    min-width: 30rem;
    padding: 0 0.8rem;

    &:focus {
      border: 0.1rem solid $orange;
    }
  }
}

.note-list-wrapper {
  padding: 2rem;
  display: grid;
  justify-items: center;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  @media (max-width: 1130px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
